$brand-color: #022b3a;
$background-color: whitesmoke;
$login-form-color: #f7f8fc;
$link-color: red;

.signupForm {
  font-size: 20px;
  line-height: 1.35em;
  width: 30%;
  margin: 5% auto;
  text-align: center;
}

.signupForm__container {
  font-size: 20px;
  line-height: 1.35em;
  margin: 5% auto;
  max-width: 400px;
  text-align: center;
}

.signupForm__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35em;
  background-color: $brand-color;
  color: $background-color;
  padding: 1.25em;
  border-radius: 4px 4px 0 0;
}

.signupForm__content {
  font-size: 20px;
  line-height: 1.35em;
  background-color: #f7f8fc;
  color: $brand-color;
  padding: 1.25em;
  text-align: left;
  border-radius: 0 0 4px 4px;
}

.signupForm__label {
  text-align: left;
  margin: 5%;
}

.signupForm__input {
  text-align: left;
  margin: 5%;
  width: 90%;
  height: 46px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.signupForm__signupButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  width: 90%;
  margin: 5%;
}
.signupForm__signupButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.signupForm__signupButton:active {
  position: relative;
  top: 1px;
}

a.signupForm__link:link,
a.signupForm__link:visited {
  color: $link-color;
  text-decoration: none;
}
