.header {
  background-color: #072240;
  height: 10%;
}

.retirement-planner {
  display: grid;
  grid-template-areas: "form chart" "table table";
  margin: 1% auto;
  width: 80%;
  grid-gap: 1%;
}

.savings-calculator {
  grid-area: form;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  font-size: 20px;
  line-height: 1.35em;
}

.savings-calculator p {
  margin: 1em 0px;
}

.retirement-lifestyle {
  margin: 1em 0px;
}

.retirement-needs {
  margin: 1em 0px;
}

.chart {
  grid-area: chart;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
}

.funds-table {
  grid-area: table;
  border: 1px solid black;
}

button {
  background-color: #2bb8e0;
}
