.header {
  background-color: #022b3a;
  height: 10vh;
  position: relative;
}

.header h1 {
  position: absolute;
  top: 20%;
  left: 2%;
  color: whitesmoke;
  font-weight: bold;
  font-size: 24px;
}

.retirement-planner {
  display: grid;
  grid-template-areas: "numbers numbers chart chart chart" "numbers numbers table table table";
  margin: 1% auto;
  width: 97%;
  grid-gap: 1%;
}

.questionnaire-and-numbers {
  grid-area: numbers;
  font-size: 20px;
  line-height: 1.35em;
}

.questionnaire-and-numbers p {
  margin: 1em 0px;
}

.questionnaire {
  border-radius: 10px;
  padding: 2%;
}

.retirement-numbers {
  font-size: 20px;
  line-height: 1.35em;
  padding: 4%;
  border-radius: 10px;
  background-color: #022b3a;
  color: white;
}

.recommended-funds {
  font-size: 20px;
  line-height: 1.35em;
  margin: 1em 0px;
  padding: 4%;
  border-radius: 10px;
  background-color: #bfdbf7;
}

.retirement-numbers h2 {
  line-height: 1.35em;
}

.retirement-numbers p {
  margin: 1em 0px;
  line-height: 1.35em;
}

.chart {
  background-color: #e1e5f2;
  grid-area: chart;
  border-radius: 10px;
  padding: 2% 2%;
}

.funds-table {
  grid-area: table;
  border-radius: 10px;
  padding: 2%;
  background-color: #bfdbf7;
  line-height: 1.35em;
}

td {
  text-align: center;
  padding: 0.75% 0.5%;
}

#name {
  text-align: left;
}

input {
  font-size: 16px;
  height: 1.5em;
}

