.login-form {
  font-size: 20px;
  line-height: 1.35em;
  padding: 4%;
  border-radius: 20px;
  background-color: #022b3a;
  color: white;
  width: 30%;
  margin: 5% auto;
}

.signup {
  font-size: 20px;
  line-height: 1.35em;
  padding: 4%;
  border-radius: 20px;
  background-color: #022b3a;
  color: white;
  width: 30%;
  margin: 5% auto;
}

.login-button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 50px;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.login-button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.login-button:active {
	position:relative;
	top:1px;
}
.signup-button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 50px;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.signup-button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.signup-button:active {
	position:relative;
	top:1px;
}

.logout-button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.logout-button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.logout-button:active {
	position:relative;
	top:1px;
}
