.loginForm {
  font-size: 20px;
  line-height: 1.35em;
  width: 30%;
  margin: 5% auto;
  text-align: center;
}

.loginForm__container {
  font-size: 20px;
  line-height: 1.35em;
  margin: 5% auto;
  max-width: 400px;
  text-align: center;
}

.loginForm__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35em;
  background-color: #022b3a;
  color: white;
  padding: 1.25em;
  border-radius: 4px 4px 0 0;
}

.loginForm__content {
  font-size: 20px;
  line-height: 1.35em;
  background-color: #f7f8fc;
  color: #022b3a;
  padding: 1.25em;
  text-align: left;
  border-radius: 0 0 4px 4px;
}

.loginForm__label {
  text-align: left;
  margin: 5%;
}

.loginForm__input {
  text-align: left;
  margin: 5%;
  width: 90%;
  height: 46px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.loginForm__loginButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  width: 90%;
  margin: 5%;
}
.loginForm__loginButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.loginForm__loginButton:active {
  position: relative;
  top: 1px;
}

a:hover,
a:active {
  text-decoration: none;
}

a.loginForm__link:link,
a.loginForm__link:visited {
  color: red;
  text-decoration: none;
}
